services:
  backend:
    build: ./backend
    container_name: django_api
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "80:80"
    restart: unless-stopped