version: '3.8'

services:
  backend:
    build: ./backend
    container_name: django_api
    ports:
      - "8000:8000"  # подключаем порт к хосту
    environment:
      - DEBUG=0
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "3000:80"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend