
div .pict{
    display: grid;
}

.map {
    position:absolute;
    width:80vw;
    margin: 0px auto;

}

.pict img {
    margin: 0px auto;
    width:900px;
}

.pict h1 {
    margin: 0px;
    position: absolute;
}

.highlightable {
  stroke: #944278fe;
  transition: stroke 0.1s;
  fill:#ffceeeff;
}

.highlightable:hover {
  fill:#944278fe;
  stroke-width: 0.1vw;
}

.highlightable_mini {
  stroke: #42ABA5;
  transition: stroke 0.1s;
  fill:#ffceeeff;
}

.highlightable_mini:hover {
  fill:#42ABA5;
  stroke-width: 0.3vw;
}

.highlightable_off {
  stroke: #944278fe;
  transition: stroke 0.1s;
  fill:#ffceeeff;
}

.highlightable_off:hover {
  fill:#e394c9fe;
  stroke-width: 0.1vw;
}